footer {
    width: 100vw;
    min-height: 30vh;
    background-color: #152836;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0;
    left: 0;
}

footer .icons {
    width: 20vw;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
}

footer p {
    width: 80vw;
    font-size: 22px;
    text-align: center;
}

footer i {
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 5px;
}

footer i:hover {
    color: black;
    background-color: #ffffff;
}

@media screen and (max-width:1024px) {
    footer .icons {
        width: 30vw;
    }
}

@media screen and (max-width:768px) {
    footer .icons {
        width: 40vw;
    }

    footer i {
        border: none;
        border-radius: 0;
        padding: 5px;
    }

    footer i:hover {
        color: #ffffff;
        background-color: transparent;
    }
}

@media screen and (max-width:720px) {
    footer .icons {
        width: 70vw;
    }

    footer p {
        font-size: 18px;
    }
}