/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

i {
    font-size: 50px;
    color: white;
    /* border: 1px solid #ffffff;
    border-radius: 100px; */
    /* padding: 8px; */
    transition: all 1s ease;
    cursor: pointer;
}

i:hover {
    color: black;
    background-color: #ffffff;
}