/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 44px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ffffff;
}

i {
    font-size: 50px;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
    background-color: transparent;
}